<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KB_XML_Compare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <KB_XML_Compare.Properties.Settings>
            <setting name="CommandFile1" serializeAs="String">
                <value />
            </setting>
            <setting name="CommandFile2" serializeAs="String">
                <value />
            </setting>
            <setting name="DiffToolType" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomDiffToolExe" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomDiffToolArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteTempFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </KB_XML_Compare.Properties.Settings>
    </userSettings>
</configuration>